.registerPage{
    .uploadImageContainer{
        position: relative;
        margin-bottom: 48px;
        text-align: center;
        cursor: pointer;
        
        .avatarPreview{
            width: 120px;
            height: 120px;
        }

        &::after{
            content: url('/images/cameraIcon.svg');
            position: absolute;
            width: 48px;
            height: 48px;
            right: 0;
            left: 90px;
            margin: auto;
            bottom: 0;
        }
    }

    @media screen and (min-width: $desktopBreakPoint){
        .footerPublicPage{
            display: flex;
            justify-content: center;

            p{
                margin-left: 6px;
            }
        }
    }

}